<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Lego Collection</title>
  </head>
  <body>
    <%- include('partials/navbar', {page: '/about'}) %>
      
      <div class="container mx-auto hero py-6 my-4 bg-base-200">
        <div class="hero-content text-center">
          <div>
            <h1 class="text-5xl font-bold">About</h1>
            <p class="py-6">Everything you want to know about me - the designer &<br> developer.</p>
          </div>
        </div>
      </div>

      <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div><img src="https://preview.redd.it/t9o9t7olg9b81.jpg?auto=webp&s=cc7f0dba7b1644e70cb8dee58d9cbeda44a3be50" class="rounded-xl w-96 ml-auto" alt="programmer cat"></div>
          <div class="prose">
            <p class="my-5">
            Hey there, I'm Maryam! Right now, I'm studying  Computer Programming and Analysis at Seneca Polytechnic. I'm learning  Web Development to Object-Oriented Programming and Database Management. What drew me to this field is the constant evolution and the opportunity to keep learning new skills.
            </p>
        <p class="my-5">I always embrace change and like to have career where change happens all the time. When I'm not coding, you can find me learning new languages, playing violin, watching travel vlogs, and sometimes cooking something new and delicious.</p></div>
        </div>
      </div>
  </body>
</html>